.container-attachment {
  display: flex;
  flex: 1;
  overflow: hidden;
  justify-content: center;
}
.mobile-button{
  display: none;
}
@media screen and (max-width: 768px) {
  .basic-document-content{
    width: 100% !important;
  }
  .container-attachment .content {
    width: 100% !important;
  }
  .container-attachment .content .content-details {
    flex-direction: column !important;
  }
  .container-attachment .content .content-details .fields{
    display: none !important;
  }
  .container-attachment .content .content-details .documents{
    display: none !important;
  }
  .container-attachment .content .content-details .documents-other{
    display: none !important;
  }


  .container-attachment .content .content-details .fields.active{
    display: flex !important;
  }
  .container-attachment .content .content-details .documents.active{
    display: flex !important;
  }
  .container-attachment .content .content-details .documents-other.active{
    display: flex !important;
  }

  .mobile-button{
    display: flex;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 2px 4px 30px -13px rgba(0,0,0,0.75);
  }

  .add-other-document{
    width: 98% !important;
  }
  .claim-title-text{
    font-size: 13px;
    font-weight: bold;
  }
}
