.mobile-actions-button{
    display: none;
}
@media (max-width: 768px) {

    .mobile-actions-button{
        position: fixed;
        height: auto;
        bottom: 0;
        left: 0;
        right: 0;
        background: #f7f5f5;
        display: flex;
        align-items: center;
        column-gap: 10px;
        justify-content: flex-end;
        padding: 5px;
        box-sizing: border-box;
        
    }

    .search-input{
        width: 100% !important;
    }
    .claim-no-input{
        width: 100% !important;
    }
    .main-dashboard{
        padding: 0 !important;
    }
    .search-header{
        flex-direction: column-reverse;
        row-gap: 5px;
        position: sticky;
        top: 2;
        background-color: #f7f5f5;
        z-index: 2;
        padding: 10px;
        box-sizing: border-box;
    }
    .button-action-container{
        justify-content: flex-end;
        display: none !important;
    }
   
    .fieldset-container .fields .fields-with-buttons .search-policy-input{
        width: 100% !important;
    }
    .fieldset-container .fields .fields-with-buttons{
        flex-direction: column !important;
        text-align: left;
        justify-content: flex-start;
        align-items: flex-start;
        row-gap: 5px;
    }
    
    .policy-container{
        flex-direction: column;

    }
    .policy-container .policy-details{
        width: 100% !important;
    }

    .policy-container .policy-payment{
        width: 100% !important;
    }

    .policy-container .policy-details .policy-details-container{
        flex-direction: column;
        row-gap: 5px;
    }



    /* modal */

    .modal-claim-generate-claim-sheet{
        width: 100% !important;
        box-sizing: border-box;
    }
}
