#upward-cutom-table tr td {
  border-right: 1px solid #f1f5f9 !important;
}

#upward-cutom-table tr:nth-child(odd) td {
  background-color: #ffffff !important;
}
#upward-cutom-table tr:nth-child(even) td {
  background-color: #f5f5f5 !important;
}
#upward-cutom-table tr.selecting td {
  background-color: #0076d7 !important;
  border-right: 1px solid white !important;
  border-bottom: 1px solid white !important;
}
#upward-cutom-table tr.selecting td input {
  color: #ffffff !important;
}

#upward-cutom-table tr.selected td {
  background-color: #d0d0d3 !important;
  border-right: 1px solid white !important;
  border-bottom: 1px solid white !important;
}
#upward-cutom-table tr.selected td input {
  color: black !important;
}

.resize-handle {
  position: absolute;
  right: 0;
  top: 0;
  width: 5px;
  height: 100%;
  cursor: col-resize;
  background-color: transparent;
}

.highlight-column {
  border-right: 2px solid #007bff !important;
  background-color: red;
}

.resize-handle:hover {
  background: 0076d;
  position: absolute;
  right: 0;
  background-color: #007bff;
  width: 3px;
  height: 100%;

}
.ripple-container-unique{
  position: absolute !important;
  user-select: none;
  pointer-events: none;
  z-index: 99;
}
.ripple {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  animation: ripple-animation 0.6s linear;
  background-color: rgba(0, 0, 0, 0.171);
  pointer-events: none;
}

@keyframes ripple-animation {
  to {
    transform: scale(4);
    opacity: 0;
  }
}

@media (max-width: 768px) {
  #modal-inject {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  .modal-table-datagridview {
    width: 98% !important;
    box-sizing: border-box;
  }
}


@media (max-width: 768px) {
  #modal-inject {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  .modal-table-datagridview {
    width: 98% !important;
    box-sizing: border-box;
  }
}
.row-data {
  z-index: 0 !important;
}
.modal-action {
  cursor: pointer;
  padding: 2px 10px;
  font-size: 14px;
}
.modal-action:hover {
  background-color: rgb(230, 222, 222) !important;
}
.row-data:has(input:focus) {
  border: 2px solid blue !important;
}

.row:has(.row-data:focus):has(.row-data:hover) {
  z-index: 100 !important;
}
.row:has(.row-data:focus) {
  background-color: #95c4f3 !important;
}
.row:has(.row-data:hover) {
  background-color: rgb(224, 219, 219) !important;
}
.row:nth-child(odd) {
  background-color: #ffffff !important;
    color: #000;
}
.row:nth-child(even) {
  background-color: #f5f5f5 !important;
  color: #000;
}
.row.row-selected {
  background: #1e7fe6 !important;
  color: white !important;
}
.row.row-selected:hover {
  background: #1e7fe6 !important;
  color: white !important;
}
.row.row-selected:has(.row-data:focus) {
  background-color: #1e7fe6 !important;
  color: white !important;
}
.row:has(.row-data.freeze:focus):has(.row-data.freeze:hover) {
  z-index: 100 !important;
}

.row-data.freeze {
  z-index: 2 !important;
}
.header:has(.header-col.freeze) {
  z-index: 4 !important;
}
.header-col{
  background: rgb(243, 240, 240)  !important;
}
.row:has(.row-data:focus) .freeze {
  background-color: #95c4f3 !important;
}
.row:not(.row-selected):has(.row-data:hover) .freeze {
  background-color: rgb(224, 219, 219) !important;
}
.row:nth-child(odd) .freeze {
  background-color: #ffffff !important;
}
.row.row-selected:has(.row-data:hover) .freeze {
  background-color: #1e7fe6 !important;
  color: white !important;
}
.row:nth-child(even) .freeze {
  background-color: #f5f5f5 !important;
}
.row.row-selected .freeze {
  background: #1e7fe6 !important;
  color: white !important;
  z-index: 2 !important;
}
.row.row-selected:has(.row-data:focus) .freeze {
  background-color: #1e7fe6 !important;
  color: white !important;
}
.noselect {
  user-select: none;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10+ */
}

.row-data:has(:not(input)):focus-within::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: transparent;
  z-index: 100 !important;
  width: 100%;
  height: 100%;
  border: 2px solid blue !important;
  box-sizing: border-box;

}