
@media (max-width: 768px) {
  .mobile-actions-button {
    display: flex !important;
    position: fixed;
    height: auto;
    bottom: 0;
    left: 0;
    right: 0;
    background: #f7f5f5;
    display: flex;
    align-items: center;
    column-gap: 10px;
    justify-content: flex-end;
    padding: 5px;
    box-sizing: border-box;
  }

  .action-buttons {
    display: none !important;
  }
  .search-container {
    flex-direction: column-reverse;
    row-gap: 5px;
    box-sizing: border-box;
  }
  .search-container .search-input {
    width: 100% !important;
  }

  .fields-reimbursement {
    flex-direction: column;
  }

  .fields-reimbursement .container-field {
    flex-direction: column;
    align-items: flex-start !important;
    text-align: left !important;
    width: 100% !important;
    box-sizing: border-box;
  }
  .fields-reimbursement .container-field input {
    width: calc(100% - 10px) !important;
  }
  .fields-reimbursement .container-field textarea {
    width: calc(100% - 10px) !important;
  }
  .fields-reimbursement .container-field select {
    width: 100% !important;
  }
}
