@media (max-width: 768px) {
  .main-container-report {
    display: inline-block;
    box-sizing: border-box !important;
    
  }
  .report-container {
    width: 100% !important;
    height: 100% !important;
    box-sizing: border-box;
    box-shadow: none !important;
    border: none !important;
    box-sizing: border-box !important;
    padding: 0 !important;
  }

  .report-container .content {
    flex-direction: column;
    row-gap: 10px;
    width: 100% !important;
    height: 100% !important;

  }
  .report-container .content .report-selection {
    width: 100% !important;
    height: 155px !important;
    padding: 10px !important;
    box-sizing: border-box !important;

  }
  .report-container .content .report-fields {
    width: 100% !important;
    padding: 0 !important;
    padding: 10px !important;
    box-sizing: border-box !important;
  }
  .pdf-button{
    height: 30px !important;
  }
  .excel-button{
    height: 30px !important;
  }
}
