

@media (max-width: 768px) {

    .uplaod-container{
        width: 100% !important; 
        height: 100% !important; 
     }
     .uplaod-container .content{
         padding: 10px !important;
     }
     .folder-icon{
        font-size: 15rem !important;
     }
}